apiVersion: v2
name: jupyter
description: Minimal Jupyterlab med Python og R. Brukeren kan selv installere pakker.
icon: https://raw.githubusercontent.com/statisticsnorway/dapla-lab-helm-charts-services/d881cef65161a7209ac7c85fbcb6608581249dc1/icons/jupyter.png
keywords:
  - Jupyter
  - Python
home: https://manual.dapla.ssb.no/statistikkere/jupyter.html
sources:
  - https://github.com/statisticsnorway/dapla-lab-helm-charts-standard-test
  - https://github.com/statisticsnorway/dapla-lab-helm-charts-library
  - https://github.com/statisticsnorway/dapla-lab-images
type: application
version: 0.18.3
dependencies:
  - name: library-chart
    version: 4.4.9
    repository: https://statisticsnorway.github.io/dapla-lab-helm-charts-library
